html {
    box-sizing: border-box;
}

*,
  ::after,
  ::before {
    box-sizing: inherit;
}

.body {
    font-family: 'Quicksand', sans-serif;
    max-width: 1000px;
    margin: auto;
}

.header {
    text-align: center;
}